@import "tailwindcss";
@import "tailwindcss/utilities";

/* Reset simples */

:root {
  --primary-color: #0D0065;
  --secondary-color: #50e3c2;
  --background-color: #EDE6FF;
  --warning-color: #ffda37;
  --warning-color-hover: #e4c124;
  --text-color: #38383D;
  --border-color: #e0e0e0;
  --font-family: "Jost", sans-serif;
  --font-size: 16px;
}

:root {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

nav{
  display: flex !important;
}

.linha-horizontal {
  position: relative;
  list-style: none;
  padding-bottom: 4px;
}

.linha-horizontal::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}


.sublinhado::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
}

.linha-horizontal:hover::after {
  width: 100%;
}


.ant-float-btn-body{
 background-color: var(--warning-color) !important;
}

.ant-float-btn-body:hover{
 background-color: var(--warning-color-hover) !important;
}